*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background: #eff4fd;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
    position: relative;
}

.hero2{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #eff4fd;
    position: relative;
}

nav{
    display: flex;
    background-color: #171c24;
    width: 100%;
    margin: auto;
    padding: 30px 0;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 100px;
    cursor: pointer;
    padding-left: 30px;
}

.logo2{
    width: 100px;
    cursor: pointer;
    padding-right: 30px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li:hover ul {
display: inline-block;

}


nav ul li a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

nav ul li a:hover{
    color: #00477f;
}

nav ul li ul{
    
    display: none;
    background-color: #171c24;
    width: auto;
    height: auto;
    position: absolute;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}
nav ul li ul li a{
    text-decoration: none;
    line-height: 50px;
    color: #fff;
    font-weight: bold;
}

nav ul li ul li a:hover{
    text-decoration: none;
    color: #00477f;
    font-weight: bold;
}



.detel{
    margin-left: 8%;
    margin-top: 15%;
}



.detel{
    margin-left: 8%;
    margin-top: 15%;
}

.detel h1{
    font-size: 50px;
    color: #212121;
    margin-bottom: 20px;
}

span{
    color: #00477f;

}

.detel p{
    color: #555;
    line-height: 22px;
}

.detel a{
    background: #212121;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: #fff;
    display: inline-block;
    margin: 30px 0;
    border-radius: 5px;
}

.images{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
}

.images img{
    height: 100%;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: bottom 1s, left 1s;
}

.images:hover .shape{
    bottom: 40px;
}

.images:hover .girl{
    left: 45%;
}




*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 2%;
}
.text-center{
    text-align: center;
    color: #00477f;
    margin-bottom: 5%;
}
.clearfix{
    clear: both;
    float: none;
}
.contact{
    background-color: #eff4fd;
    padding: 0;
}
.contact-form{
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}

.contact-form-2{
    width: 43%;
    height: 100%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
    border-radius: 15px;
}

.contact-form iframe{
    width: 100%;
    height: 100%;
}

input[type=text], select, textarea{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
input[type=submit]{
    background-color: #47a6dd;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color: rgb(61, 61, 112);
}


@media only screen and (max-width:768px){
    .contact{
        padding: 20% 0;
    }
    .contact-form{
        width: 90%;
        padding: 5%;
        margin-bottom: 5%;
    }
    iframe{
        width: 100%;
        height: 100%;
    }
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: #171c24;
}
footer .top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
    margin: 50px 0;
}
.top .top-left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.top-left img{
    width: 70px;
    margin-right: 30px;
}
.top-left .details{
    display: flex;
    flex-direction: column;
}
.details h3{
    font-size: 20px;
    color: #fff;
    margin-bottom: 10px;
}
.details p{
    font-size: 15px;
    color: #aaa;
}
.top .top-right{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-right h3{
    font-size: 22px;
    color: #fff;
    margin-bottom: 10px;
}
.top-right .links{
    display: flex;
}
.links a{
    width: 35px;
    height: 35px;
    margin: 0 5px;
    border-radius: 5px;
    background-color: rgba(155,155,155,0.1);
    color: #ddd;
    text-align: center;
    line-height: 35px;
    transition: all 0.3s ease;
}
.links a:hover{
    background-color: rgba(134, 133, 133, 0.253);
}
footer .bottom{
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #12161d;
    padding: 20px 0;
}
.bottom span{
    font-size: 16px;
    color: #fff;
}
.bottom span a{
    color: #fff;
    text-decoration: none;
}

/* responsive */

@media screen and (max-width: 1265px) {
    footer .top{
        width: 90%;
    }
}
@media screen and (max-width: 896px) {
    footer .top{
        width: 92%;
    }
    .details p{
        font-size: 14px;
    }
}
@media screen and (max-width: 830px) {
    footer .top, .top .top-left, footer .bottom{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    footer .top{
        width: 95%;
    }
    .top-left img{
        margin: 0 0 15px 0;
    }
    .details p{
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 543px){
    .top .top-left{
        width: 90%;
    }
    .bottom-links{
        flex-wrap: wrap;
        justify-content: center;
    }
    .bottom-links a{
        margin: 0 8px;
    }
}

